.manageService-card {
    width: 480px;
    height: 140px;
    margin: .8em 0;
    padding: 20px;
    box-shadow: 5px 1px 70px #e7e5e5;
    border-radius: 5px;
    transition: 0.3s;
}

.manageService-card img {
    border: 1px solid red;
    width: 80px;
    height: 80px;
    border: 1px solid #ed3c1f;
    margin-top: 5px;
    padding: 10px;
}

.manageService-card div {
    width: 380px;
    height: 100px;
    overflow: hidden;
    padding-left: 15px;
}

.manageService-card h4 {
    font-weight: 700;
    margin-bottom: 0;
}

.manageService-card p {
    text-align: justify;
    /* width: 365px; */
    /* height: 48px; */
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    color: rgb(73, 73, 73);
}

.manageService-card button {
    /* transform: translateX(120px) translateY(20px); */
    color: white;
    /* margin: 0 30px; */
    font-size: 25px;
    padding: 5px 10px;
    background: transparent;
    border: 1px solid #e33723;
    display: none;
    transition: 0.3s;
}
.btn-div {
    transform: translateY(20px);
    width: 90% !important;
    margin: 0 auto  ;
    text-align: center;
}

.manageService-card button:hover {
    background-color: #e33723;
    transition: 0.3s;

}

.manageService-card:hover button {
    display: inline-block;
    transition: 0.3s;
}

.manageService-card:hover {
    background-color: #2d2d2d;
    transform: translateY(-10px);
    transition: 0.3s;
}

.manageService-card:hover h4, .manageService-card:hover p, .manageService-card:hover img {
    display: none;
}


 
/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 300.98px) and (max-width: 575.98px) { 
    .manageService-div {
        position: fixed;
        margin-top: 4em;
        padding: 0 .5em;
        /* overflow-y: scroll; */
    }
    .manageService-div h1{
        font-size: 30px;
    }
    .manageService-card h4{
        font-size: 20px;
    }
    .manageService-card p{
        text-align: left;
        font-size: 14px;

    }
}  

    /* Small devices (landscape phones, less than 768px)  */
@media (min-width: 575.98px) and (max-width: 767.98px) { 
    .manageService-div{
        position: fixed;
        margin-top: 3em;
    }
    .manageService-div h1{
        font-size: 40px;
    }
}

    /* Medium devices (tablets, less than 992px)  */
@media (min-width: 767.98px) and (max-width: 991.98px) { 
    .manageService-div{
        position: fixed;
        width: 100%;
        margin-top: 3em;
        padding: 1em;
    }
    .manageService-div h1{
        font-size: 50px;
    }
    .manageService-card{
        width: 370px;
    }
    .manageService-card p{
        font-size: 15px;
    }
}

    /* Large devices (desktops, less than 1200px)  */
@media (min-width: 991.98px) and (max-width: 1199.98px) { 
    .manageService-div{
        position: fixed;
        width: 100%;
        margin-top: 3em;
        padding: 1em;
    }
    .manageService-card{
        width: 480px;
    }
    .manageService-card p{
        font-size: 15px;
    }
}

    /* X-Large devices (large desktops, less than 1400px)  */
@media (min-width: 1199.98px) and (max-width: 2000px) {
    .manageService-div{
        padding: 0 1em;
    }
}