.subscription-div img{
    width: 50%;
}

/* X-Small devices */
@media (min-width: 300.98px) and (max-width: 575.98px) {
    .subscription-div {
        width: 100%;
        position: fixed;
        margin-top: 3em;
    }
    .subscription-div img {
        width: 70%;
    }

    .subscription-div h2 {
        font-size: 30px;
        width: 75%;
        margin: 0 auto;
    }
}

/* Small devices */
@media (min-width: 575.98px) and (max-width: 767.98px) {
    .subscription-div {
        width: 100%;
        position: fixed;
        margin-top: 3em;
    }
    .subscription-div img {
        width: 70%;
    }
    .subscription-div h2 {
        font-size: 40px;
        width: 80%;
        margin: 0 auto;
    }
}

/* Medium devices */
@media (min-width: 767.98px) and (max-width: 991.98px) {
    .subscription-div {
        width: 100%;
        position: fixed;
        margin-top: 3em;
    }
    .subscription-div h2 {
        font-size: 45px;
    }
}

/* Large devices */
@media (min-width: 991.98px) and (max-width: 1199.98px) {
    .subscription-div {
        width: 100%;
        position: fixed;
        margin-top: 3em;
    }

    .subscription-div h2 {
        font-size: 50px;
    }
}

/* X-Large devices */
@media (min-width: 1199.98px) and (max-width: 2000px) {
    .subscription-div h2 {
        margin-bottom: .5em;
    }
}