.subscription-div img {
    width: 50%;
}

#noSubscription-div p {
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    width: 80%;
    margin: 10px auto 25px;
}

#noSubscription-div a {
    font-family: 'Kanit', sans-serif;
    color: #f14c39;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 1px dashed #f14c39;
    border-radius: 2px;
}

/* X-Small devices */
@media (min-width: 300.98px) and (max-width: 575.98px) {
    .subscription-div {
        width: 100%;
        position: absolute;
        z-index: -1;
        margin-top: .8em;
    }

    .subscription-div img {
        width: 70%;
    }

    .subscription-div h2 {
        font-size: 30px;
        margin-bottom: .7em;
    }

    #noSubscription-div {
        margin-top: 5em;
    }

    #noSubscription-div p {
        font-size: 15px;
    }

}

@media (min-width: 300px) and (max-width: 400px) {
    .subscription-div {
        margin-top: .9em;
    }

    .subscription-div h2 {
        font-size: 26px;
    }
}

/* Small devices */
@media (min-width: 575.98px) and (max-width: 767.98px) {
    .subscription-div {
        width: 100%;
        position: absolute;
        z-index: -1;
        margin-top: .2em;
    }

    .subscription-div img {
        width: 70%;
    }

    .subscription-div h2 {
        font-size: 40px;
        margin-bottom: .6em;
    }

    #noSubscription-div {
        margin-top: 5em;
    }
}

/* Medium devices */
@media (min-width: 767.98px) and (max-width: 991.98px) {
    .subscription-div {
        width: 100%;
        position: absolute;
        z-index: -1;
        margin-top: .5em;
    }

    .subscription-div h2 {
        font-size: 45px;
        margin-bottom: .5em;
    }
}

/* Large devices */
@media (min-width: 991.98px) and (max-width: 1199.98px) {
    .subscription-div {
        width: 100%;
        position: absolute;
        z-index: -1;
        margin-top: .2em;
    }

    .subscription-div h2 {
        margin-bottom: .4em;
    }
}

/* X-Large devices */
@media (min-width: 1199.98px) and (max-width: 2000px) {
    .subscription-div h2 {
        margin-bottom: .5em;
    }
}