/* .subscribe-panel {
    width: 100%;
    height: 230px;
    background-image: linear-gradient(to right, #ed2024, #f36434);
    margin: 2em auto;
    padding: 0em 5em;
}

.subscribe-panel svg {
    font-size: 40px;
    color: white;
    display: inline-block;
    transform: translateX(600px);
}

.subscribe-panel h2 {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.subscribe-panel p {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: normal;
    color: white;
    font-style: normal;
    word-spacing: 1px;
}

.subscribe-panel input {
    padding: 20px 20px;
    border: none;
    width: 420px;
    outline: none;
    border-radius: 50px;
}

.subscribe-panel button {
    padding: 15px 20px;
    border: none;
    border-radius: 50px;
    background-image: linear-gradient(to right, #ed2024, #f36434);
    font-size: medium;
    font-weight: 600;
    word-spacing: 1px;
    color: white;
    transform: translateY(-59px) translateX(264px);
} */

.subscribe-panel{
    width: 100%;
    height: 230px;
    background-image: linear-gradient(to right, #ed2024, #f36434);
    color: white;
}

.subscribe-panel svg {
    font-size: 40px;
    color: white;
}

.subscribe-panel h2 {
    font-size: 50px;
    font-weight: 700;
}

.subscribe-panel p {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: normal;
    color: white;
    font-style: normal;
    word-spacing: 1px;
}



.subscribe-panel input {
    padding: 20px 20px;
    border: none;
    width: 420px;
    outline: none;
    border-radius: 50px;
}
.subscribe-panel button {
    margin-left: -9.5em;
    padding: 15px 20px;
    border: none;
    border-radius: 50px;
    background-image: linear-gradient(to right, #ed2024, #f36434);
    font-weight: 600;
    color: white;
}
 
/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 300.98px) and (max-width: 575.98px) { 
    .subscribe-panel{
        height: 300px;
        text-align: center;
    }
    .subscribe-panel h2{
        font-size: 30px;
    }
    .icon{
        text-align: center;
    }
    .subscribe-panel input{
        width: 300px;
    }
}  

    /* Small devices (landscape phones, less than 768px)  */
@media (min-width: 575.98px) and (max-width: 767.98px) { 
    
}

    /* Medium devices (tablets, less than 992px)  */
@media (min-width: 767.98px) and (max-width: 991.98px) { 
    
}

    /* Large devices (desktops, less than 1200px)  */
@media (min-width: 991.98px) and (max-width: 1199.98px) { 
    .icon{
        text-align: end !important;
        transform: translateY(6em);
    }
    
}

    /* X-Large devices (large desktops, less than 1400px)  */
@media (min-width: 1399.98px) and (max-width: 2000px) {
    .icon{
        text-align: end !important;
        /* transform: translateY(6em); */
    }
}