.form-container {
    position: relative;
    background: #efefef93;
    border-radius: 10px;
    width: 90%;
    margin: 3em auto;
    z-index: -1;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.form-container img {
    width: 250px;
    height: 100%;
}

.form-container form {
    color: rgba(0, 0, 0, 0.904);
    padding: 20px;
    margin: auto 20px;
}

.form-container label, h6 {
    font-weight: 600;
}

.form-container h6 {
    font-size: 16px;
    margin-top: 3.7em;
}

.form-container input {
    width: 90%;
    margin-top: 5px;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.form-container textarea {
    width: 90%;
    height: 167px !important;
    border: none;
}



#upload-thumbnail-btn {
    width: 90%;
    background-color: white;
    color: rgba(0, 0, 0, 0.897);
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#add-service-btn {
    width: 80%;
    border: none;
    background-image: linear-gradient(to right, #ed2024, #f36434);
    text-align: center;
    margin-top: 2em;
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.3s;
}

#add-service-btn:hover {
    border: 1px solid #e33723;
    background: white;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    border-radius: 5px;
    transition: 0.3s;
}



/* X-Small devices */
@media (min-width: 300.98px) and (max-width: 767.98px) {
    .actionPageForm-div {
        width: 100%;
        position: absolute;
        z-index: -1;
        margin-top: .6em;
    }

    .actionPageForm-div h2 {
        font-size: 35px;
        margin-bottom: 1.5em;
    }

    .form-container form {
        width: 100%;
        margin: auto 0;
    }

    .form-container input, .form-container textarea, #upload-thumbnail-btn {
        width: 100%;
    }

    .form-container {
        width: 90%;
        height: 570px;
        margin: 0 auto;
    }

    .form-container h6 {
        font-size: 16px;
        margin-top: 2em;
    }

    .textarea-label {
        margin-top: 2em;
    }

    .form-container img {
        display: none;
    }
}

/* Medium devices */
@media (min-width: 767.98px) and (max-width: 991.98px) {
    .actionPageForm-div {
        width: 100%;
        position: absolute;
        z-index: -1;
        margin-top: .7em;
    }

    .actionPageForm-div h2 {
        font-size: 45px;
        margin-bottom: .7em;
    }

    .form-container {
        height: 350px;
        width: 90%;
        margin: 0 auto;
    }

    .form-container h6 {
        font-size: 16px;
        margin-top: 3em;
    }

    .form-container img {
        display: none;
    }

    .form-container textarea {
        width: 85%;
    }
}

/* Large devices */
@media (min-width: 991.98px) and (max-width: 1199.98px) {
    .actionPageForm-div {
        width: 100%;
        position: absolute;
        z-index: -1;
        margin-top: .2em;
    }

    .actionPageForm-div h2 {
        margin-bottom: .7em;
    }

    .form-container {
        width: 90%;
        height: 350px;
        margin: 0 auto;
    }

    .form-container h6 {
        font-size: 16px;
        margin-top: 3em;
    }

    .form-container img {
        width: 200px;
    }

    .form-container textarea {
        width: 85%;
    }
}

/* X-Large devices */
@media (min-width: 1199.98px) and (max-width: 2000px) {
    .form-container {
        position: static;
    }

    .form-container form {
        position: static;
    }

    .addReview-active {
        width: 100%;
    }
}