.row {
    --bs-gutter-x: 0;
}

.footer-main-section {
    width: 100%;
    height: 350px;
    background-color: #2d2d2d;
    margin-top: 6em;
    padding: 1em 0;
    color: white;
    transform: translateZ(10px);
}

.footer-main-section h4 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 10px;
    color: #fff;
    word-spacing: 2px;
}

.footer-main-section h4::before {
    content: '';
    border: 2px solid #ed3c1f;
}

.footer-main-section p {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #bababa;
    text-align: justify;
    transition: 0.2s;
    background-color: transparent;
}

.footer-main-section a {
    text-decoration: none;
    cursor: pointer;
}

.footer-main-section a:hover {
    color: #ed3c1f !important;
    transition: 0.2s;
}

.footer-bottom-section {
    background-image: linear-gradient(to right, #ed2024, #f36434);
    color: white;
    height: 70px;
    padding: 1em 3em;
}

.footer-bottom-section svg {
    border: 1px solid white;
    padding: 2px 6px;
    border-radius: 50px;
    font-size: 40px;
    color: white;
    margin-right: 10px;
}

.footer-bottom-section-right-div a{
    text-decoration: none;
    border-bottom: 1px dashed;
}


/* X-Small devices */
@media (min-width: 300.98px) and (max-width: 575.98px) {
    .footer-main-section {
        height: 100%;
        text-align: center !important;
        align-items: center;
    }

    .footer-part-div p {
        text-align: center;
    }

    .footer-bottom-section {
        height: 100%;
    }

    .footer-bottom-section svg {
        margin-top: 15px;
    }

}

/* Small devices */
@media (min-width: 575.98px) and (max-width: 767.98px) {
    .footer-main-section {
        height: 100%;
        text-align: center !important;
        align-items: center;
    }

    .footer-part-div p {
        text-align: center;
    }

    .footer-bottom-section {
        height: 100%;
    }

    .footer-bottom-section svg {
        margin-top: 15px;
    }
}

/* Medium devices */
@media (min-width: 767.98px) and (max-width: 991.98px) {
    .footer-main-section {
        height: 100%;
        text-align: center !important;
        align-items: center;
    }

    .footer-bottom-section {
        height: 100%;
    }

    .footer-bottom-section-right-div {
        text-align: start;
    }

    .footer-bottom-section-left-div {
        text-align: end;
    }

    .footer-bottom-section svg {
        margin-top: 15px;
    }

    #footer-details-div {
        text-align: center;
    }

    #footer-details-div p {
        text-align: center;
    }

    #company-footer-details {
        display: none;
    }
}

/* Large devices */
@media (min-width: 991.98px) and (max-width: 2000px) {
    .footer-bottom-section-right-div {
        text-align: start;
    }

    .footer-bottom-section-left-div {
        text-align: end;
    }
}