/* X-Small devices */
@media (min-width: 300.98px) and (max-width: 575.98px) {
    .adminsTable-div {
        position: fixed;
        margin-top: 4em;
    }

    .adminsTable-div h2 {
        font-size: 40px;
    }

    .scrollable-admins-table {
        width: 95%;
        margin: 0 auto;
        overflow-x: scroll;
    }

    .admins-table {
        width: 1000px;
    }
}

/* Small devices */
@media (min-width: 575.98px) and (max-width: 767.98px) {
    .adminsTable-div {
        position: fixed;
        margin-top: 4em;
    }

    .adminsTable-div h2 {
        font-size: 45px;
    }

    .scrollable-admins-table {
        width: 95%;
        margin: 0 auto;
        overflow-x: scroll;
    }

    .admins-table {
        width: 1000px;
    }
}

/* Medium devices */
@media (min-width: 767.98px) and (max-width: 991.98px) {
    .adminsTable-div {
        width: 100%;
        position: fixed;
        margin-top: 3em;
    }

    .adminsTable-div h2 {
        font-size: 50px;
    }
}

/* Large devices */
@media (min-width: 991.98px) and (max-width: 1199.98px) {
    .adminsTable-div {
        position: fixed;
        width: 100%;
        margin-top: 3em;
    }
}

/* X-Large devices */
@media (min-width: 1199.98px) and (max-width: 2000px) {
    .admins-table {
        width: 95%;
    }
}