/* X-Small to Large devices*/
@media (min-width: 300.98px) and (max-width: 1199.98px) { 
    .addReview-div{
        position: absolute;
        z-index: -1;
        padding-bottom: .5em;
    }
}  

/* Large devices */
@media (min-width: 991.98px) and (max-width: 1199.98px) {
    .addReview-div{
        width: 100%;
    }
}
