.header-bottom-container {
    height: 550px;
    background-color: #2d2d2d;
    padding: 50px 0px;
}

.header-bottom-container h1 {
    font-size: 25em;
    font-weight: 800;
    background: -webkit-linear-gradient(#ed2722, #ed441d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -60px;
}

.header-bottom-container h1::after {
    content: "+";
    font-size: 60px;
}

.header-bottom-container h2 {
    font-size: 48px;
    font-weight: 700;
    color: white;
}

.header-bottom-container h4 {
    color: white;
}

.header-bottom-container p {
    color: #b1b1b1;
}

.icon {
    text-align: left;
    color: #ed3c1f;
    font-size: 20px;
}

.header-bottom-container img {
    width: 200px;
    border-radius: 10px;
}
.main-content {
    text-align: center;
}

.main-content-p {
    text-align: justify;
}


/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 300.98px) and (max-width: 575.98px) {
    .header-bottom-container {
        height: 750px;
    }

    .header-bottom-container h1 {
        font-size: 12em;
        margin-top: -40px;
    }

    .header-bottom-container h1::after {
        font-size: 50px;
    }

    .header-bottom-container h2 {
        font-size: 18px;
    }

    .main-content {
        padding: 20px;
        text-align: center;
    }
}

/* Small devices (landscape phones, less than 768px)*/
@media (min-width: 575.98px) and (max-width: 767.98px) {
    .header-bottom-container {
        height: 850px;
    }

    .header-bottom-container h1 {
        font-size: 15em;
        margin-top: -40px;
    }

    .header-bottom-container h2 {
        font-size: 28px;
    }

    .main-content {
        text-align: center;
    }
    .main-content img{
        width: 300px ;
    }
}

/* Medium devices (tablets, less than 992px)  */
@media (min-width: 767.98px) and (max-width: 991.98px) {
    .header-bottom-container {
        height: 850px;
    }

    .header-bottom-container h1 {
        font-size: 20em;
        margin-top: -40px;
    }

    .header-bottom-container h2 {
        font-size: 38px;
    }

    .main-content {
        text-align: center;
    }
    .main-content img{
        width: 250px ;
    }
}

/* Large devices (desktops, less than 1200px)  */
@media (min-width: 991.98px) and (max-width: 1199.98px) {
    /* .header-bottom-container {
        height: 850px;
    } */

    .header-bottom-container h1 {
        font-size: 18em;
        margin-top: -40px;
    }

    .main-content {
        text-align: center;
    }
    .main-content img{
        width: 180px ;
    }
}

/* X-Large devices (large desktops, less than 1400px)  */
@media (min-width: 991.98px) and (max-width: 1399.98px), (min-width: 1399.98px) and (max-width: 2000px) {
    .header-bottom-container h1 {
        margin-top: -60px;
    }

    .main-content {
        text-align: center;
    }
    
    .main-content h4{
        font-size: 30px;
        font-weight: 600;
    }
    /* .main-content img{
        width: 250px ;
    } */
}